/* Preliminary CSS */

/* Fonts */

@font-face {
  font-family: "Rubik-Italic";
  src: url("../assets/fonts/static/Rubik-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("../assets/fonts/static/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("../assets/fonts/static/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Italic-VariableFont_wght";
  src: url("../assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rubik-VariableFont_wght";
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

:root {
  /* COLORS */
  --White: hsl(0, 100%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Gray-500: hsl(219, 13%, 44%);
  --Gray-50: hsl(220, 38%, 97%);
  --Blue-950: hsl(214, 24%, 23%);
  --Blue-900: hsl(216, 25%, 25%);
  --Blue-850: hsl(215, 27%, 32%);
  --Blue-500: hsl(223, 100%, 59%);
  --Blue-300: hsl(216, 47%, 78%);
  --Blue-100: hsl(220, 50%, 95%);
  --Blue-50: hsl(225, 100%, 96%);
  --Green-500: hsl(151, 68%, 52%);
  --Green-100: hsl(151, 88%, 94%);
  --Purple-600: hsl(277, 91%, 56%);
  --Purple-100: hsl(278, 100%, 95%);
  --Orange-400: hsl(22, 100%, 60%);
  --Orange-50: hsl(27, 100%, 96%);
  --Red-500: hsl(0, 82%, 63%);

  /* FONTS */
  --Italic: "Rubik-Italic", serif;
  --Medium: "Rubik-Medium", serif;
  --Regular: "Rubik-Regular", serif;
  --Italic-VariableFont_wght: "Rubik-Italic-VariableFont_wght", serif;
  --VariableFont_wght: "Rubik-VariableFont_wght", serif;
}

/* Normalize CSS */
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Main CSS */

body {
  background-image: url(../assets/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--Gray-50);
  font-family: var(--Medium);
  padding: 16px 24px 0 24px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 32px;
  margin: 0 auto;
}

/* Start Menu */

/* Logo container */

.html-logo-container,
.css-logo-container,
.js-logo-container,
.access-logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.html-logo-container {
  visibility: hidden;
} /* This is for hiding the HTML logo container, however to keep the slot for it. */

.css-logo-container,
.js-logo-container,
.access-logo-container {
  display: none;
} /* This is for hiding the CSS, JS and Access logo containers, however to take out of document flow. */

.html-logo,
.css-logo,
.js-logo,
.access-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.html-logo {
  background-color: var(--Orange-50);
  border-radius: 4px;
} /* This is for the logo containers, to change their background */

.css-logo {
  background-color: var(--Green-100);
  border-radius: 4px;
}

.js-logo {
  background-color: var(--Blue-50);
  border-radius: 4px;
}

.access-logo {
  background-color: var(--Purple-100);
  border-radius: 4px;
}

.logo {
  width: 29px;
  height: 29px;
}

.logo-text {
  font-size: 18px;
  color: var(--Blue-900);
}

/* Light and Dark mode container */

.light-dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sun-light-icon,
.sun-dark-icon,
.moon-light-icon,
.moon-dark-icon {
  width: 16px;
  height: 16px;
}

.sun-light-icon,
.moon-light-icon {
  display: none;
} /* This is for controling the sun and moon light icons. */

.sun-dark-icon,
.moon-dark-icon {
  display: inline;
} /* This is for controling the sun and moon dark icons. */

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 20px;
  padding: 4px;
  background-color: var(--Purple-600);
  border-radius: 999px;
}

.sun-toggle,
.night-toggle {
  width: 12px;
  height: 12px;
  background-color: var(--White);
  border-radius: 999px;
  transition: all 0.3s ease-in-out;
}

.sun-toggle {
  visibility: visible;
} /* This is for controling the sun toggle. */

.night-toggle {
  visibility: hidden;
} /* This is for controling the sun toggle. */

/* Quiz menu */

.quiz-menu-header {
  display: none; /*switch this for flex*/
  flex-direction: column;
  gap: 16px;
}

.header {
  font-family: var(--VariableFont_wght);
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: var(--Blue-900);
}

.strong-header {
  font-family: var(--Medium);
  font-style: normal;
  font-weight: 500;
}

.header-text {
  font-family: var(--Italic);
  font-size: 14px;
  color: var(--Gray-500);
}

.subjects-container {
  display: none; /*switch this for flex*/
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: var(--White);
  border-radius: 12px;
}

/* Quiz question */

.quiz-question-container {
  display: none; /*switch this for flex*/
  flex-direction: column;
  gap: 16px;
}

.question-text {
  font-size: 20px;
  line-height: 120%;
  color: var(--Blue-900);
}

.progress-bar {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding-top: 8px;
}

progress::-webkit-progress-bar {
  background-color: var(--White);
  padding: 4px;
  height: 16px;
  border-radius: 999px;
}
progress::-webkit-progress-value {
  background-color: var(--Purple-600);
  height: 8px;
  border-radius: 999px;
}

/* Quiz answer */

.quiz-answers-container {
  display: none; /*switch this for flex*/
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.answer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--White);
  border-radius: 12px;
}

.answer-container:hover {
  border: 3px solid var(--Purple-600);
  padding: 13px 13px;
  cursor: pointer;
}

.answer-text-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.variants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--Gray-50);
  border-radius: 6px;
  font-size: 18px;
  color: var(--Gray-500);
}

.answer-text {
  font-size: 18px;
  line-height: 120%;
  color: var(--Blue-900);
}

.correct-incorrect {
  width: 32px;
  visibility: hidden; /* make visibility unset */
}

/* Submit answer button */

.submit-answer-button {
  padding: 19px;
  background-color: var(--Purple-600);
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: var(--White);
}

.submit-answer-button:hover {
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

/* Error message */

.error-message-container {
  visibility: hidden; /* make visibility unset */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.error-icon {
  width: 32px;
}

.error-text {
  font-size: 18px;
  color: var(--Red-500);
}
